ConsoleApplication1/ConsoleApplication1/Debug/ConsoleApplication1.log
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleApplication1.Build.CppClean.log
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.E51505F0.tlog/unsuccessfulbuild
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.E51505F0.tlog/ConsoleApplication1.lastbuildstate
ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj
ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/AutoPCH/CONSOLEAPPLICATION1-4d4b4be7/MAIN-b60c9dab/MAIN.ipch
ConsoleApplication1/.vs/ConsoleApplication1/v15/Browse.VC.db
ConsoleApplication1/.vs/ConsoleApplication1/v15/.suo
ConsoleApplication1/ConsoleApplication1/Debug/vc141.pdb
ConsoleApplication1/ConsoleApplication1/Debug/vc141.idb
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.E51505F0.tlog/CL.write.1.tlog
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.E51505F0.tlog/CL.read.1.tlog
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.E51505F0.tlog/CL.command.1.tlog
ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
ConsoleApplication1/ConsoleApplication1.sln
ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/AutoPCH/_SFI_AC157EFF-327C-4914-BC70-8FA2DCCF2C01_-7953fad0/MAIN-707aff23/MAIN.ipch
ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/AutoPCH/_SFI_AC157EFF-327C-4914-BC70-8FA2DCCF2C01_-7953fad0/2-MAIN-b0df1482/2-MAIN.ipch
ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/AutoPCH/CONSOLEAPPLICATION1-51f0e1af/MAIN-bf103873/MAIN.ipch
ConsoleApplication1/Debug/ConsoleApplication1.pdb
ConsoleApplication1/Debug/ConsoleApplication1.ilk
ConsoleApplication1/Debug/ConsoleApplication1.exe
ConsoleApplication1/ConsoleApplication1/Debug/main.obj
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.E51505F0.tlog/link.write.1.tlog
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.E51505F0.tlog/link.read.1.tlog
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.E51505F0.tlog/link.command.1.tlog
ConsoleApplication1/.vs/ConsoleApplication1/v15/Browse.VC.opendb
